<!DOCTYPE html>
<html class="dark" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
    <link rel="./assets/css/stylesheet.css">
    <title>gripe//support-homepage</title>

</head>

<body class="dashboard">
    <!-- navigation bar -->
    <section class="header">
        <nav class="border fixed split-nav">
            <div class="nav-brand">

                <!-- log-in and sign-up modal -->
                <label class="paper-btn btn-small" for="modal-1">
                    <h4>
                        <a>log out</a>
                    </h4>
                </label>
            </div>
            <!-- insert logging out capabilities here -->
            </div>

            <!-- collapsible menu with links to other pages -->
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <label class="paper-btn" for="collapsible1">
                    <h5 class="padding-none margin-small flex-edges">menu</h5>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
                <div class="collapsible-body">
                    <ul class="inline">
                        <li><a href="./gripes.html">gripes</a></li>
                        <li><a href="./encouragements.html">encouragements</a></li>
                        <li><a href="./index.html">
                                <img class="aligned-middle" src="./assets/images/hearts/little-pink.png"
                                    class="no-border">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- hero sitch -->
    <section class="flex-spaces row">
        <div class="col">
            <div class="aligned-right flex-spaces">
                <div class="margin-top-large padding-top-large">
                    <div class="aligned-right" id="logo and posts">
                        <img class="margin-large no-border" src="assets/images/logo/gripe support title@1x.png">

                        <!-- modal to post a gripe on:click of button-->
                        <div class="gripeModal">
                            <label class="gripe-btn" for="modal-gripe-post">
                                <a class="paper-btn">post a gripe</a>
                            </label>
                        </div>
                        <input class="modal-state" id="modal-gripe-post" type="checkbox">
                        <div class="modal">
                            <label class="modal-bg" for="modal-gripe-post"></label>
                            <div class="modal-body">
                                <label class="btn-close" for="modal-gripe-post">X</label>
                                <h4 class="modal-title">gripe//support</h4>
                                <p class="modal-text">
                                <div class="form-group">
                                    <label for="gripeModalInput">what's eating you?</label>
                                    <textarea class="input-block" id="large-input"></textarea>
                                </div>
                                <p></p>
                                <label class="aligned-right paper-btn" for="submitGripePost">post</label>
                            </div>
                        </div>

                        <!-- modal to post encouragement on:click of button-->
                        <div class="encModal">
                            <label class="encouragement-btn" for="modal-enc-post">
                                <a class="paper-btn">post an encouragement</a>
                            </label>
                        </div>
                        <input class="modal-state" id="modal-enc-post" type="checkbox">
                        <div class="modal">
                            <label class="modal-bg" for="modal-enc-post"></label>
                            <div class="modal-body">
                                <label class="btn-close" for="modal-enc-post">X</label>
                                <h4 class="modal-title">gripe//support</h4>
                                <p class="modal-text">
                                <div class="form-group">
                                    <label for="encModalInput">what words would have made you feel better today?</label>
                                    <textarea class="input-block" id="large-input"></textarea>
                                </div>
                                <p></p>
                                <label class="aligned-right paper-btn" for="submitEncPost">post</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        </div> <!--  -->
        <div class="col flex-center">
            <div class="margin-top-large padding-top-large no-border">
                <div class="margin-top-large" id="heart and title">
                    <img class="no-border" src=" assets/images/hearts/edit-posts-heart.png">

                </div>
            </div>
        </div>
        </div>
    </section>

    <section>
        <div class="col-12">
            <h3 class="aligned-middle paper border">my post history</h3>

            <!-- will make this dynamic in separate js file but will live here atm until I can map out all of the things -->
            <div class="container paper border">
                <div class="margin-large">
                    <div class="collapsible">
                        <input id="collapsible" type="checkbox" name="collapsible">
                        <label for="collapsible">one</label>
                        <div class="collapsible-body">
                            <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas,
                                t-bone sirloin shoulder bresaola...</span>
                            <div class="">
                                <a href="#post-id" class="paper-btn">view post</a>
                                <button type="delete" class="paper-btn">delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible">
                        <input id="collapsible2" type="checkbox" name="collapsible">
                        <label for="collapsible2">two</label>
                        <div class="collapsible-body">
                            <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas,
                                t-bone sirloin shoulder bresaola...</span>
                            <div class="">
                                <a href="#post-id" class="paper-btn">view post</a>
                                <button type="delete" class="paper-btn">delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible">
                        <input id="collapsible3" type="checkbox" name="collapsible">
                        <label for="collapsible3">three</label>
                        <div class="collapsible-body">
                            <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin
                                ball tip turducken...</span>
                            <div class="">
                                <a href="#post-id" class="paper-btn">view post</a>
                                <button type="delete" class="paper-btn">delete</button>
                            </div>
                        </div>
                    </div>
                    <div class="collapsible">
                        <input id="collapsible4" type="checkbox" name="collapsible">
                        <label for="collapsible4">four</label>
                        <div class="collapsible-body">
                            <span>Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas,
                                t-bone sirloin shoulder bresaola...</span>
                            <div class="">
                                <a href="#post-id" class="paper-btn">view post</a>
                                <button type="delete" class="paper-btn">delete</button>
                            </div>
                        </div>
                    </div>
    </section>

</body>

</html>