
<html class="dark" lang="en">

<body class="dashboard">

<<<<<<< Updated upstream
    <!-- collapsible menu with links to other pages -->
    <div class="collapsible">
        <input id="collapsible1" type="checkbox" name="collapsible1">
        <label class="paper-btn" for="collapsible1">
            <h5 class="padding-none margin-small menuEncButton flex-edges">menu</h5>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </label>
        <div class="collapsible-body">
            <ul class="inline">
                <li><a href="/gripes">gripes</a></li>
                <li><a href="/encouragements">encouragements</a></li>
                <li>
                    <a href="/"><img class="aligned-middle" src="./assets/images/hearts/little-green.png"
                            class="no-border"></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="flex-center row" id="encHeading">
=======
       <section class="flex-center row" style="padding:45px;">
>>>>>>> Stashed changes
        <div class="col flex-center">
            <div class="aligned-right flex-spaces">
                <div class="margin-top-large">
                    <div class="aligned-middle" id="logo and posts">
<<<<<<< Updated upstream
                     
                            {{!-- modals for adding encouragements and gripes --}}
                            {{> addEncGripe}}
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="col padding-small flex-center" id="postPage">
            <div class="logo">
                <div class="padding-top-small">
                    <div id="logoEnc">
                        <img class="row aligned-middle no-border" src="assets/images/logo/gripe support title@1x.png">
=======
                        <img class="margin-small no-border" src="assets/images/logo/gripe support title@1x.png">
                         {{!-- modals for adding encouragements and gripes --}}
                        {{> addEncGripe}}
>>>>>>> Stashed changes
                    </div>
                </div>
            </div>
        </div>
        <div class="col flex-center">
            <div class="margin-top-large  no-border">
                <div class="margin-small" id="heart-pink">
                    <a href="/"><img class="no-border aligned-middle" src="assets/images/hearts/encouragements-heart.png"></a>
                </div>
            </div>
        </div>
        </div>
        </section>
        <div class="encTitle flex-center">
            <h2 id="encTitleBanner" class="aligned-middle enc-title paper border margin-none full-rotate">encouragements
            </h2>
        </div>
        <!-- textarea -->
        <section class="row" id="postContainer">
            <div class="col full-rotate flex-center">
                <div class="paper border-3 padding-large margin-top-small">
                    <div class="margin-small">

                        <label for="postNumber" class="post-id" id="{{post.id}}">{{post.content}}</label>
                        <form class="comment-form">
                            <div>
                                <container class="myPost card paper border">
                                    <textarea class="myPost" name="comment-body"
                                        placeholder="Say something encouraging"></textarea>
                                </container>
                            </div>
                    </div>
                    <p></p>
                    <button type="submit" class="paper-btn btn-small right" id="commentEncBtn">comment</button>
                    </form>

                </div>
                <!-- comments -->
                <div class="row flex-right marg">
                    <div class="col flex-spaces">
                        <div class="margin-none" id="commentBox">
                            <p class="card-title paper border-6 margin-none padding" id="commentEncHeader">comments:</p>

                            {{#each post.comments as |comment|}}
                            <div class="container paper border-6 padding">{{comment.content}}</div>
                            {{/each}}

                        </div>
                    </div>
                    <button id="hug-btn">
                        <div class="flex-spaces paper-btn border-4 padding-small margin-top-none hug-counter"
                            id="hug-counterEnc">

                            <img id="hugIcon" class="no-border" src="./assets/images/hugs/meowmeowhugz.png"
                                alt="hug-icon">
                            <!-- number of hugs -->
                            <p class="flex-center padding-right-small">{{post.hug_count}}</p>
                        </div>
                    </button>
                </div>
            </div>

        </section>

        <section id="nextPreviousBtns">
            <div class="margin-bottom-large">
                <btn id="nextEncBtn" class="next paper-btn btn-large">></btn>
            </div>
        </section>

    </section>
    <script src="/javascript/viewEncouragement.js"></script>
</body>