<form id="login-form">
    <label for="username-input">Username:</label>
    <input type="text" name="username-input" />
    <label for="password-input">Password:</label>
    <input type="password" name="password-input" />
    <div><button type="submit" name="log-in">Log-In</button></div>
</form>

<script src="/javascript/login.js"></script>