<!-- logo -->

<section class="homepage" id="hpLogo">
        <div class="col padding-small flex-center" id="postPage">
            <div class="logo">
                <div class="padding-top-small">
                    <div id="logoGripes">
                        <img class="row aligned-middle no-border" src="assets/images/logo/homepage-title.png">
                    </div>
                </div>
            </div>
            <div class="flex-center">
                <div class="padding-small no-border">
                    <div class="margin-small" id="heart and title">
                        <img class="row aligned-middle no-border" src=" assets/images/hearts/dashboard-heart.png">
                    </div>
                </div>
            </div>
        </div>
</section>

  <!-- mood to date -->
  <section class="row flex-spaces homepage">
    <div class="col sm-4">
      <div class="row flex-spaces child-borders child-shadows">
        <div class="paper">
          {{!-- <img class="row flex-center margin-small no-border" src="./assets/images/hearts/dashboard-heart.png"
            alt="purple heart"> --}}
          <!-- <div class="card-body"> -->
          <h3 class="card-title">the mood to date:</h3>
          <canvas id="myChart"></canvas>
          <p class="card-text">
            mostly warm with a chance of whinging</p>
        </div>
      </div>
    </div>


    <!--about section -->
    <div class="col col-8">
      <div class="container paper border flex-center">
        <div class="flex-spaces">
          <h3 class="">who are we?</h3>
          <h5 class="">Good question.</h5>
          <p class="">We are the fussy, the frustrated, the bothered, the annoyed. We wish to air our
            grievances without judgment
            and only receive simple validation in return. We appreciate positivity and encouragements, but most of
            all,
            we
            simply seek acceptance for our woes.</p>
          <div>
            <h5>Need to vent?</h5>
            <p>
              <a href="/signup">Sign up</a> and let it alllllll out. It's okay. We're all here for you.
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
  <script src="/javascript/homePieChart.js"></script>
  <script type="text/javascript" src="Chart.js"></script>
  <script type="text/javascript" src="rough.js"></script>
  <script type="text/javascript" src="chartjs-plugin-rough.js"></script>