<body id="purple">
   
    <section class="col margin-top-large padding-small flex-center full-rotate">
        <div class="padding-top-large margin-top-large">
            <div class="card-body paper border" id="signUpCard">
                <div class="card-title">
                    <div>
                        <img class="row aligned-middle col" id="logoSignUp" src="./assets/images/logo/gripe support title@1x.png"
                            alt="title logo">
                    </div>
                    <h3>Sign Up!</h3>
                </div>
                <div class="card-subtitle">
                    <p>Your posts will remain anonymous while accessible to you.</p>
                </div>
                <form class="signup-form">
                    <div class="form-group">
                        <label for="paperInputs1">Username:</label>
                        <input id="username-signup" class="input-block" type="text" placeholder="username" id="paperInputs1">
                    </div>
                    <div class="form-group">
                        <label for="paperInputs1">Password:</label>
                        <input id="password-signup1" class="input-block" type="password" placeholder="password" id="paperInputs1">
                    </div>
                    <div class="form-group">
                        <label for="paperInputs1">Confirm Password:</label>
                        <input id="password-signup2" class="input-block" type="password" placeholder="confirm password" id="paperInputs1">
                    </div>
                    <div class="form-group">
                        <button class="create-account paper-btn" type="submit" id="purple">Submit</button>
                    </div>
                </form>
                   <p> Already have an account? 
                        <label class="paper-btn btn-small logInBtn" for="modal-1">Log in</label>
                    </p>
                <input class="modal-state" id="modal-1" type="checkbox">
                <div class="modal">
                    <form class="login-form" id="login-form">
                        <label class="modal-bg" for="modal-1"></label>
                        <div class="modal-body">
                        <label class="btn-close" for="modal-1">X</label>
                        <h4 class="modal-title">gripe//support</h4>
                        <h5 class="modal-subtitle">you need an account to make posts</h5>
                        <p class="modal-text">
                        <div class="form-group">
                            <label for="paperInputs1">Username</label>
                            <input id="username-login" class="input-block" type="text" placeholder="xxxxxxx@xxx.com">
                        </div>
                        <div class="form-group">
                            <label for="paperInputs1">Password</label>
                            <input id="password-login" class="input-block" type="password" placeholder="we hope you're using a password manager">
                            <p></p>
                            <button class="aligned-right paper-btn" type="submit">Log In</button>
                        </div>
                    </form>
                </div>

            </div>
    </section>
<script src="/javascript/signUp.js"></script>
</body>
