<html class="dark" lang="en">

<body class="dashboard">
    <!-- navigation bar -->
    <section class="header margin-bottom-large">
        <nav class="border fixed split-nav">
            <div class="nav-brand padding-bottom">

                <!-- log-out sitch -->
                <label class="paper-btn btn-small logout-btn" for="modal-1">
                    <h4>
                        <a>log out</a>
                    </h4>
                </label>
            </div>

            <!-- collapsible menu with links to other pages -->
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1">
                <label class="paper-btn" id="menuButton" for="collapsible1">
                    <h5 class="padding-none margin-small flex-edges">menu</h5>
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                    <div class="bar4"></div>
                </label>
                <div class="collapsible-body">
                    <ul class="inline">
                        <li><a class="navLink" href="./dashboard.html">my dashboard</a></li>
                        <li><a class="navLink" href="./gripes.html">gripes</a></li>
                        <li><a class="navLink" href="./encouragements.html">encouragements</a></li>
                        <li><a href="./index.html">
                                <img src="./assets/images/hearts/little-pink.png"
                                    class="aligned-middle paper-btn btn-small no-border">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section>
        <div class="col padding-small flex-center" id="postPage">
            <div class="aligned-middle margin-top-large">
                <div class="margin-top-large padding-top-large">
                    <div id="logo and posts">
                        <img class="row aligned-middle no-border" src="assets/images/logo/gripe support title@1x.png">
                    </div>
                </div>
            </div>
            <div class="flex-center">
                <div class="padding-small no-border">
                    <div class="margin-small" id="heart and title">
                        <img class="row aligned-middle no-border" src=" assets/images/hearts/edit-posts-heart.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- textarea -->
    <section class="row" id="postContainer">
        <div class="col full-rotate flex-center">
            <div class="paper border-2 padding-large">
                <div class="">
                    <div class="text-box">
                        <label for="postNumber">Post no. 3</label>
                        <div>
                            <container class="myPost card paper border">
                                <div class="card-text">I really don't know what I want to do when I finish school. I
                                    feel so uncomfortable when people ask me, "So what are you doing after you
                                    graduate?" UMMM, idk???? What are YOU doing for the rest of YOUR life???? Maybe get
                                    one before coming after mine.</div>
                            </container>
                        </div>
                    </div>
                    <p></p>
                    <label type="submit" class="paper-btn border btn-small right" id="deletePostBtn">delete</label>
                </div>
            </div>
            <!-- hug counter -->
            <div class="row flex-right marg">
                <div class="col flex">
                    <div class="margin-none" id="commentBox">
                        <p class="card-title paper border-6 margin-none padding" id="commentHeader">comments:</p>
                        <div class="container paper border-6 padding">this is a comment.</div>
                        <div class="container paper border-6 padding">this is another comment.</div>
                        <div class="container paper border-6 padding">this is a funny comment.</div>
                        <div class="container paper border-6 padding">this is a confusing comment.</div>
                    </div>
                </div>
                <div class="flex-spaces paper-btn border-4 padding-small margin-top-none hug-counter" id="hug-counterMine">
                    <img id="hugIcon" class="no-border" src="./assets/images/hugs/meowmeowhugz.png" alt="hug-icon">
                    <!-- number of hugs -->
                    <p class="flex-center padding-right-small">29</p>
                </div>
            </div>


            <div class="col full-rotate flex-center">
                <div class="paper border-3 padding-large margin-top-small">
                    <div class="margin-small">
                        <label for="postNumber">Post no. 2</label>
                        <div>
                            <container class="myPost card paper border">
                                <div class="card-text">
                                    POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST
                                    POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST
                                    POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST POST
                                    POST POST POST POST
                                </div>
                            </container>
                        </div>
                    </div>
                    <p></p>
                    <label type="submit" class="paper-btn btn-small right" id="deletePostBtn">delete</label>
                </div>
                <!-- comments -->
                <div class="row flex-right marg">
                    <div class="col flex-spaces">
                        <div class="margin-none" id="commentBox">
                            <p class="card-title paper border-6 margin-none padding" id="commentHeader">comments:</p>
                            <div class="container paper border-6 padding">this is a comment.</div>
                            <div class="container paper border-6 padding">this is another comment.</div>
                        </div>
                    </div>
                    <div class="flex-spaces paper-btn border-4 padding-small margin-top-none hug-counter" id="hug-counterMine">
                        <img id="hugIcon" class="no-border" src="./assets/images/hugs/meowmeowhugz.png" alt="hug-icon">
                        <!-- number of hugs -->
                        <p class="flex-center padding-right-small">11</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>